extends layout

block content
  ol
    each item in data
      li(style="display:block")
        a(href=item.detail_url)
          img(src=item.thumb style="width:300px;height:200px;float:left")
          p #{item.title}
